<h1>Des regrets sur ce commentaire ? </h1>

<%= form_for [@registration, @gossip, @comment] do |f| %>

  <div class="form-group">		
    <label for="formGroupExampleInput">Modifie moi ça :</label>
    <%= f.text_area :content, class: "form-control" %>
  </div>

    <%= f.submit "Update ton Commentaire !", class: "btn btn-success" %>


    <%= link_to "Supprimer le Commentaire", registration_gossip_comment_path(params[:registration_id], params[:gossip_id], @comment.id), class: "btn btn-danger", method: :delete %>



<% end %>

