<h1>Registratez vous</h1>
<p>Authentification</p>

<%= form_for @registration do |f| %>
	<div class="form-group">		
		<label for="formGroupExampleInput">Quel est ton nom babe:</label>
		<%= f.text_field :email, class: "form-control", id: "formGroupExampleInput" %>
	</div>	
	<div class="form-group">		
		<label for="formGroupExampleInput">Envois moi ton mdp babe :</label>
		<%= f.text_field :password, class: "form-control" %>
	</div>
		<%= f.submit "Rentre ton mot de passe babe", class: "btn btn-success" %>

<% end %>
